html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('images/flatirons.jpg') no-repeat center center fixed;
  background-size: cover;
}

.boco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.flipper__container {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  perspective: 500px;
  backface-visibility: hidden;
}

.flipper__panel {
  visibility: hidden;
  width: 50%;
  height: 50%;
  transition: opacity 0.6s cubic-bezier(0.6, 0, 0.3, 1);
  border-radius: 0.5em;
  opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flipper__panel.flip {
  visibility: visible;
  transition-delay: 0.3s;
  background: rgb(256, 256, 256);
  opacity: 1;
}

.ripple {
  width: 1px;
  height: 1px;
  background: rgba(0, 94, 164, 1);
  position: absolute;
  left: 50%;
  top:50%;
  transition: transform 0.6s cubic-bezier(0.6, 0, 0.3, 1);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
}

.ripple.extended {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.boco__nav {
  font-family: sans-serif;
}

.logo__label {
  z-index: -1;
  position: relative;
  bottom: 16em;
  left: 53%;
  width: 183px;
  height: 125px;
  background-color: white;
  border-radius: 1em;
}

.boco__logo img {
  z-index: 1;
  width: 25em;
}
