
body {
  background: url('images/flatirons.jpg') no-repeat center center fixed;
  background-size: cover;
}

.boco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.boco__logo { }

.boco__nav {
  position: fixed;
  bottom: 8em;
  font-family: sans-serif;
  color: rgba(0, 94, 164, 1);
  background-color: white;
  border-radius: 0.2em;
  margin: 0 auto;
  text-align: center;
  width: 33%;
  padding: 0.5em 0;
  box-shadow: 0 0 0.2em 0.1em rgba(0, 94, 164, 1);
}

.logo__label {
  z-index: -1;
  position: relative;
  bottom: 16em;
  left: 53%;
  width: 183px;
  height: 125px;
  background-color: white;
  border-radius: 1em;
}

.boco__logo img {
  z-index: 1;
  width: 25em;
}
